services:
    mysql:
        restart: always
        container_name: "mysql"
        build:
            dockerfile: Dockerfile.mysql
        ports:
            - 3306:3306
        volumes:
            - ./dump:/dump
        networks:
            net-10.11.0.0:
                ipv4_address: 10.11.0.2
    
    server:
        container_name: "cloze-server"
        tty: true
        stdin_open: true
        build:
            dockerfile: Dockerfile.server
        ports:
            - 5052:8080
        networks:
            net-10.11.0.0:
                ipv4_address: 10.11.0.3

networks:
    net-10.11.0.0:
        name: net-10.11.0.0
        ipam:
            config:
                - subnet: 10.11.0.0/24
