services:
    mysql:
        restart: always
        container_name: "mysql"
        build:
            dockerfile: Dockerfile.mysql
        ports:
            - 3306:3306
        volumes:
            - ./dump:/dump
    
    server:
        container_name: "cloze-server"
        build:
            dockerfile: Dockerfile.server
        ports:
            - 5052:8080
        links:
            - "mysql:mysql"
